body{
    background-color: #2d2d2d;
    margin: 0;
    padding: 0;

}

.btns{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
   
}

.btns a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    display: flex;
    float: left;
    margin: 0 10px;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:  all 0.4s;
}

.btns a:hover{
    box-shadow:  0 0 30px #cddc39;
    color: #cddc39;
}